// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doctor-show {
  background-color: #ffffff;

  .nav-bar {
    background-color: #fff04b;
  }

  .main-page {

    width: 1440px;
    height: 2000px;
    margin: 0px auto;
    // padding-left: 150px;
    // padding-right: 150px;
  }
    .profile {
      width: 900px;
      margin: 80px 0px 0px 35px;
      .intro {
        .name {
          font-size: 48px;
          // font-stretch: 100%;
          font-weight: 400;
          // line-height: 60px;
        }
      }
    
      .about {
    
      }
  
    }

    .appointment-form {
      width: 510px;
      height: 400px;
      background-color: #f7f8f9; 
      position: absolute;
      margin-left: 935px;
      margin-right: 35px;
      text-indent: 20px;
      font-size: 26px;
      font: "sharp-sans-bold", "fallback-font", Arial, sans-serif;
    }
  



  
}