// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.doctor-show {
  background-color: #ffffff;

  .nav-bar {
    background-color: #fff04b;
  }

  .main-page {

    width: 1440px;
    // height: 100%;
    margin: 0px auto;
    padding-bottom: 100px;
    //testing
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
    .profile {
      width: 900px;

      .intro {
        width: 780px;
        margin: 44px 60px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .pic-container {
          width: 150px;
          height: 150px;
          margin-right: 30px;
        }

        .place-holder-img {
          width: 280px;
          height: 280px;
          background: image-url("no-profile.jpeg");
          border-radius: 50%;
          transform: scale(0.5) translate(-130px, -130px);
        }

        .info-container {
          width: 650px;
          margin: auto;
        }

        .name {
          font-size: 42px;
          // font-stretch: 100%;
          font-weight: 550;
          // line-height: 60px;
          margin-bottom: 8px;
        }

        .info-specialties {
          font-size: 18px;
          margin-bottom: 4px;
        }

        .info-location {
          font-size: 18px;
          color: #878791;
        }
      }

      .page-hooks {
        height: 71px;
        width: 780px;
        margin: 0px 60px 16px;
        position: sticky;
        top: -1px;
        background-color: white;
        display: flex;
        justify-content: left;
        align-items: center;
        border-top: solid #00234b 1px;
        border-bottom: solid #00234b 1px;
        // margin-right: 60px;
        div {
          height: 68px;
          line-height: 68px;
          width: fit-content;
          margin-right: 25px;
          margin-bottom: -2px;
          vertical-align: middle;
        }

        div:hover {
          height: 68px;
          width: fit-content;
          // margin: 5px 10px;
          border-bottom: solid #00234b 3px;
          margin-bottom: -2px;
        }
      }
    

      #insurances, #location, #background {
        font-size: 20px;
        padding-top: 50px;
        width: 780px;
        margin: 0px 60px;

        div {
          font-size: 16px;
        }

        .subsection {
          width: 780px;
          font-size: 20px;
          font-weight: 600;
          padding-top: 30px;
        }
      }
      

      #insurances {
        display: flex;
        flex-wrap: wrap;
        
        .carrier, .more-plans {
          width: 390px;
          height: 73px;
          padding: 14px 0px;
          margin: 0px;
          line-height: 45px;
        }

        .all-insurances {
          color: #3983eb;
          text-decoration: underline;
        }

        .all-insurances:hover {
          cursor: pointer;
        }

      }

      #location {
        .address-container {
          margin: 30px 0px;
          div {
            margin: 6px 0px;
          }
        }
      }

      #background {
        .details-container {
          margin: 30px 0px;
        }
        .details-header {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 8px;
        }
      }

      #place-holder {
        height: 400px;
      }
    }

    .appointment-form-container {
      width: 510px;
      padding-top: 35px;
      margin-right: 30px;
    }

    .appointment-form {
      width: 508px;
      height: 400px;
      padding: 24px 32px;
      background-color: #f3f3f4;
      border: rgb(225, 225, 228) 1px solid;
      position: sticky;
      top: 40px;
      font-size: 26px;
      font: "sharp-sans-bold", "fallback-font", Arial, sans-serif;
    }

  .loading-message {
    margin: 30px 0px 0px 60px;
  }
}

.insurances-modal {
  width: 640px;
  height: 600px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.insurance-list {
  display: block;
  width: 600px;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 48px;
  // background-color: #f3f3f4;
  
  .close-button-container {
    height: fit-content;
    display: flex;
    justify-content: right;
  }

  img {
    width: 20px;
    height: 20px;
  }


  img:hover {
    cursor: pointer;
  }

  .modal-content {
    margin-left: 40px;
    margin-right: 40px;
  }

  .carrier {
    font-size: 18px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 6px;
    margin: 24px 0px 0px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .carrier:hover {
    cursor: pointer;
  }

  .plan {
    font-size: 16px;
    margin: 6px 0px 0px 18px;
  }


}