.form-nav-bar {
  background-color: #fff04b;
  padding: 20px 42px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;


  .logo {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
  }

  .logo:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer
  }

  .nav-link {
    border-bottom: 1px dotted;
    height: 19px; //*
    color: rgb(0, 35, 75);
    font-size: 16px;
  }

  .nav-link:hover {
    border-bottom: 1px solid;
    cursor: pointer
  }

  .nav-container {
    display: flex;
    justify-content: right;
    width: 120px; //*
  }
}