// .search-section {
//   background-color: #d6e5f3;
//   height: 414px;
// }

.home-content {
  min-height: 100vh;
}

.featured-section {
  width: 100vw;
  padding: 20px 42px;
}

.featured-providers-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  max-width: 1350px;
}