.patient-show {

  .nav-bar {
    background-color: #f3f3f4;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
  }

  .nav-content-container {
    margin-left: 0;
    flex-grow: 1;
  }

  .main-page {
    width: 1300px;
    margin: 0 auto;
  }

  .search-section {
    width: 1300px;
    padding: 85px 119px 195px 105px;
    margin-top: 47px;
  }

  // TESITNG ONLY
  .test {
    width: fit-content;
    margin: 0 auto
  }

  .panel-container {
    display: flex;
    padding-top: 44px;
    padding-bottom: 100px;
  }

  .panel-left {
    height: 300px;

    width: 420px;
  }

  .panel-right { 
    height: 300px;

    width: 835px;
    margin-left: 45px;
  }

  .panel-left-item {
    padding: 24px 16px;
    background-color: #ffffff;
  }

  .panel-left-item:not(:first-child) {
    margin-top: 8px;
  }

  .panel-left-item h1 {
    font-size: 24px;
    height: 26px;
  }

  .insurance-title {
    font-size: 16px;
    font-weight: bold;
    height: 21px;
    margin: 0;
  }

  .insurance-subtitle {
    color: #00234b;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .panel-right-item {
    background-color: #ffffff;
    width: 835px;
    height: 207px;
    margin-bottom: 34px;
    padding: 21px 24px;
  }

  .panel-right-item h1 {
    font-size: 24px;
    height: 26px;
  }
  .panel-right-item h2 {
    font-size: 14px;
    height: 26px;
  }
  .panel-right-item p {
    font-size: 14px;
    color: rgb(102, 115, 133);
    height: 26px;
  }

  .appointment-icon-container {
    display: flex;
    justify-content: right;

    img {
      width: 20px;
      height: 20px;
    }

    img:hover {
      cursor: pointer;
    }
  }

  
}