.patient-show {

  .nav-bar {
    background-color: #f3f3f4;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
  }

  .nav-content-container {
    margin-left: 0;
    flex-grow: 1;
  }

  .main-page {
    width: 1300px;
    margin: 0 auto;
  }

  .search-bar-container {
    height: 336px;
    margin-top: 47px;
    width: 1300px;
  }

  .greetings {
    width: 100%;
    height: 60%;

    h1:first-child {
      padding-top: 10px;
    }
    
    h1 {
      font-size: 64px;
    }
  }

  .search-section {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  // TESITNG ONLY
  .test {
    width: fit-content;
  }

  .panel-container {
    display: flex;
    padding-top: 44px;
    padding-bottom: 100px;
  }

  .panel-left {
    height: 300px;

    width: 420px;
  }

  .panel-right { 
    min-height: 300px;

    width: 835px;
    margin-left: 45px;
  }

  .panel-left-item {
    padding: 24px 16px;
    background-color: #ffffff;
  }

  .panel-left-item:not(:first-child) {
    margin-top: 8px;
  }

  .panel-left-item h1 {
    font-size: 24px;
    height: 26px;
  }

  .insurance-title {
    font-size: 16px;
    font-weight: bold;
    height: 21px;
    margin: 0;
  }

  .insurance-subtitle {
    color: #00234b;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .panel-right-item {
    background-color: #ffffff;
    width: 835px;
    height: 207px;
    margin-bottom: 34px;
    padding: 21px 24px;
  }

  .panel-right-item h1 {
    font-size: 24px;
    height: 26px;
  }
  .panel-right-item span {
    font-size: 14px;
    height: 26px;
  }

  .panel-right-item .doctor-link {
    color: rgb(43, 191, 237);
    font-size: 16px;
    // font-weight: bold;
  }

  .panel-right-item .doctor-link:hover {
    cursor:pointer;
    text-decoration: underline;
  }
  .panel-right-item p {
    font-size: 14px;
    color: rgb(102, 115, 133);
    height: 26px;
  }

  .appointment-icon-container {
    display: flex;
    justify-content: right;

    img {
      width: 20px;
      height: 20px;
      margin-left: 15px;
    }

    img:hover {
      cursor: pointer;
    }
  }

  
}